{
"globals": {
    "angular":true,
    "expect": true,
    "describe": true,
    "it": true,
    "indent": 2
    },
"parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
    },
"env": {
    "amd": true,
    "browser": true,
    "es6": true,
    "node": true,
    "jasmine": true,
    "phantomjs": true
},
"rules": {
    "no-multiple-empty-lines": [2, {"max": 1, "maxEOF": 0}],
    "eol-last": 0,
    "comma-dangle": [2, "never"],
    "semi": 2,
    "no-param-reassign": [1, { "props": false }],
    "prefer-arrow-callback": "warn",
    "padded-blocks": ["error", "always"],
    "object-shorthand": [2, "consistent"],
    "no-underscore-dangle": [0, {"allow": ["_links"] }],
    "max-len": [1, {"code": 120, "tabWidth": 2, "ignoreUrls": true}],
    "space-infix-ops": 1,
    "func-names": 2,
    "arrow-body-style": [1, "as-needed"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "linebreak-style": 0
},
"extends": "airbnb",
"settings": {
    "ecmascript": 6
    }
}